body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #252329;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/*============================================== PRESET SIDEBAR ==============================================*/
.menu-item {

    padding: 5px;
}
.menu-item div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.default-menu-item {

    padding: 5px;
}
.default-menu-item div{
    display: flex;
}
.presetName{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 10px;
}
#menu_container {
    background-color : rgba(0, 0, 0, 0.5);
    overflow-y : scroll;
}
#menu-list{
    width: 14em;
    color: #b9c6d2;
    padding-inline-start: 1em;
}

.currentPreset{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 8em;
    text-align: left;
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    border:#b9c6d2;
    box-shadow: 0px 0px 7px #B0E7FF;
    border-radius: 15px;

}

#preset_button{
    display: block;
    margin: 1em;
    width: 40px; /* Set the width of the button */
    height: 40px; /* Set the height of the button */
    background-size: contain; /* Cover the entire button with the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    border: none; /* Remove the button border */
    border-radius: 50%; /* Make the button round */
    cursor: pointer; /* Change cursor to pointer on hover */
    background-image: url('menu.png');
}
.preset-button {
    background: red;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align:center;
    }

.preset_name_button{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 8em;
    text-align: left;
    background-color: transparent;
    border: none;
    color: #b9c6d2;
    cursor: pointer;
    border:#b9c6d2;
    box-shadow: 0px 0px 7px #B0E7FF;
    border-radius: 15px;


}


/*============================================== MAIN CONTENT ==============================================*/
.soundscapeText{
    width: 40px; /* Set the width of the button */
    height: 40px; /* Set the height of the button */
    color: #b9c6d2;
    font-size: 0;
    background-size: contain; /* Cover the entire button with the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    border: none; /* Remove the button border */
    border-radius: 50%; /* Make the button round */
    cursor: pointer; /* Change cursor to pointer on hover */
}


.error-message{
    font-style: italic;
    color: #e96363;
    align-self: center;
    position: relative;
}

#name-field{
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    color: #b9c6d2;
    margin: 1em;
}

.soundscape-presentation{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    top: -2em;
}
.soundscape-title{
    color: #b9c6d2;
}
.soundscape-title#title{
    font-size: 2em;
}.soundscape-title#subtitle{
    font-size: 1em;
}

#save-button{
    display: block;
    width: 40px; /* Set the width of the button */
    height: 40px; /* Set the height of the button */
    color: #b9c6d2;
    background-size: contain; /* Cover the entire button with the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    border: none; /* Remove the button border */
    border-radius: 50%; /* Make the button round */
    cursor: pointer; /* Change cursor to pointer on hover */
    background-image: url('save.png');
    border-radius: 20px;
    color: #b9c6d2;
}


#flex-container{
    display: flex;
    overflow: hidden;
    height: 100vh; /* 100% of the viewport height */
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    }


#container {
    display: flex;
    flex-wrap: nowrap;

    flex-direction: column;

}
.audio-control-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
}
form.form-style {
    margin: 5%;

}
.audio-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.final-form {
    top: 10em;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
    justify-content: center;
}


.vertical-slider {

    height: 15em;
    width: 5em;
    accent-color: rgba(14, 13, 32, 0.4);
    border-radius: 15px;
    cursor: grab;
    box-shadow: 0px 0px 7px #B0E7FF;
}

/*============================================== TOOLTIPS ==============================================*/

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  opacity: 0.5;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltiptext.frequencytext {
    width: 300px;
    top: 100%;
    left: 50%;
    margin-left: -150px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
.tooltiptext.deletetext {
    width: 50px;
    top: 100%;
    left: 50%;
    margin-left: -25px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
.tooltip{
    color:black;
    position: relative;
    display: inline-block;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}



/*============================================== OVERWRITES ==============================================*/
input[type="text" i] {
    padding-block: 0px !important;
    padding-inline: 0px !important;
}
::-webkit-scrollbar {
  width: 0px;
}
a:-webkit-any-link {
    color: #b9c6d2;
    text-decoration: none;
}

a {
  text-decoration: none; /* Removes underline */
  font-weight: normal;   /* Removes bold */
}
ul {
    list-style-type: none;
}