body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #252329;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
a {
  text-decoration: none; /* Removes underline */
  font-weight: normal;   /* Removes bold */
}
.menu-item {
    width: 80%;
    padding: 5px;
}
ul {
    list-style-type: none;
}
.menu-item div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.default-menu-item {
    width: 80%;
    padding: 5px;
}
.default-menu-item div{
    display: flex;
}
.presetName{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.currentPreset{
    color: red!important;
}
.soundscapeText{
    width: 40px; /* Set the width of the button */
    height: 40px; /* Set the height of the button */
    color: #b9c6d2;
    background-size: contain; /* Cover the entire button with the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
      border: none; /* Remove the button border */
      border-radius: 50%; /* Make the button round */
      cursor: pointer; /* Change cursor to pointer on hover */
}

#menu_container {
    background-color : rgba(0, 0, 0, 0.5);
    overflow-y : scroll;
}
#menu-list{


      width: 200px;
      background-color : rgba(0, 0, 0, 0.5);

}
#name-field{
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    color: #b9c6d2;
    margin: 1em;
}
#preset_button{
    display: block;
    margin: 1em;
    width: 40px; /* Set the width of the button */
    height: 40px; /* Set the height of the button */
    color: #b9c6d2;
    background-size: contain; /* Cover the entire button with the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    border: none; /* Remove the button border */
    border-radius: 50%; /* Make the button round */
    cursor: pointer; /* Change cursor to pointer on hover */
    background-image: url('menu.png');
}

#collapse_menu{
    overflow-y: auto;
}
#save-button{
    display: block;

        width: 40px; /* Set the width of the button */
        height: 40px; /* Set the height of the button */
        color: #b9c6d2;
        background-size: contain; /* Cover the entire button with the background image */
        background-repeat: no-repeat; /* Prevent the background image from repeating */
          border: none; /* Remove the button border */
          border-radius: 50%; /* Make the button round */
          cursor: pointer; /* Change cursor to pointer on hover */
    background-image: url('save.png');
    border-radius: 20px;
    color: #b9c6d2;
}
a:-webkit-any-link {
    color: #b9c6d2; /* your desired color */
    text-decoration: none; /* optional: override text-decoration */
}
#menu-list{
color: #b9c6d2;
}
::-webkit-scrollbar {
  width: 0px; /* Width of the entire scrollbar */
}
#flex-container{
    display: flex;
    overflow: hidden;
    height: 100vh; /* 100% of the viewport height */
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    }


#container {
    display: flex;
    flex-wrap: nowrap;
    padding: 2%;
    flex-direction: column;

}
.audio-control-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
    /* Add any additional styling as needed */
}
form.form-style {
    margin: 5%;

}
.audio-control {
    width: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
}

.final-form {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

input[type="text" i] {
    padding-block: 0px !important; /* Your desired padding value */
    padding-inline: 0px !important; /* Your desired padding value */
}
.vertical-slider {

    height: 180px;
    width: 60px;
    background-color: #343640;
    background: #adb2c9;
    accent-color: rgba(14, 13, 32, 0.4);
    border-radius: 15px;
    cursor: grab;
    box-shadow: 0px 0px 7px #B0E7FF;
}
