<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
    <head>
        <meta charset="UTF-8">
        <title>Soundscape login</title>
        <link rel="stylesheet"  href="/style-login.css">
    </head>
    <body>

            <div class="login-container">
                <div th:if="${logoutMessage}">
                    <span th:text="${logoutMessage}"></span>
                </div>
                <h2>Soundscape Login</h2>
                <form action="#" th:action="@{/authenticateTheUser}" method="POST" class="login-form">
                    <div th:if="${param.error}">
                        <i> Invalid username or password!</i>

                    </div>
                    <div th:if="${param.logout}">
                        <i> You have just logged out!</i>
                    </div>
                    <p>User name: <input type="text" name="username" autocomplete="off"/> </p>

                    <p>Password: <input type="password" name="password"/></p>
                    <div id="login-register">
                        <a th:href="@{/registerUser}" class="form_buttons"> Register</a>
                        <input type="submit" class="form_buttons" id="login" value="Login">
                    </div>

                </form>
                <div id="continue-guest">
                    <a th:href="@{/main}" class="form_buttons"> Continue as guest</a>
                </div>
            </div>

    </body>
</html>