<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharokos Soundscapes</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="heading-bar">
    <div class="header-title">Sharokos Soundscapes</div>
        <div class="flex-header">
        <span class="user tooltip"><span>Welcome, </span ><u th:text="${username}"></u>
            <span class="tooltiptext usertext" th:if="${username=='guest'}"
                  th:text="${'No saved presets for guests. Please register!'}"></span>
            <span class="tooltiptext usertext" th:unless="${username=='guest'}"
                  th:text="${usedPresets +'/20 presets used.'}"></span> </span>
        <form th:action="@{/logout}" class= "tooltip" method="post">
            <button type="submit" class="logout"></button>
            <span class="tooltiptext logouttext">Logout</span>
        </form>
        </div>
    </div>

<div class="container">
    <!-- Creating divs for each entry found inside soundscapes.   -->
    <a   th:href="@{'/soundscape/' + ${soundScape.id}}" class="box"
         th:each="soundScape : ${soundScapes}"
         th:style="'background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
                    url(' + ${soundScape.soundscapeImage} + ');'"
    >
        <div class="box-text">
        <h2 th:text="${soundScape.soundscapeName}"> </h2>
        <p th:text="${soundScape.soundscapeDescription}"></p>
        </div>
    </a>
</div>



<script src="script.js"> </script>




</body>
</html>
