<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharokos Soundscapes</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>


<div class="container">
    <!-- Creating divs for each entry found inside soundscapes.   -->
    <a   th:href="@{'/soundscape/' + ${soundScape.id} +'/1'}" class="box"
         th:each="soundScape : ${soundScapes}"
         th:style="'background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
                    url(' + ${soundScape.soundscapeImage} + ');'"
    >
        <h2 th:text="${soundScape.soundscapeName}"> </h2>
        <p th:text="${soundScape.soundscapeDescription}"></p>
    </a>
</div>



<script src="script.js"> </script>




</body>
</html>
