<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Player</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<div id="container">
    <div id="menu">
        <h2>Menu</h2>
        <table border="1">
            <thead>
            <tr>
                <th>Name</th>
                <th>Path</th>
                <th>Id</th>
                <!-- Add more columns as needed -->
            </tr>
            </thead>
            <tbody>
            <tr th:each="sounds : ${sounds}">
                <td th:text="${sounds.soundName}"></td>
                <td th:text="${sounds.soundPath}"></td>
                <td th:text="${sounds.soundId}"></td>
                <!-- Add more columns as needed -->
            </tr>
            </tbody>
        </table>
    </div>
    <div id="main">
        <h2>Main Window</h2>

        <div class="audio-control">

            <input id="audio1" type="range" value="50" min="0" max="100" class="vertical-slider">

        </div>
        <div class="audio-control">

            <input id="audio2" type="range" value="50" min="0" max="100" class="vertical-slider">

        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/rangeslider.js@2.3.3/dist/rangeslider.min.js"></script>
<script src="script.js"> </script>
<!-- Add this script tag to include rangeslider.js -->



</body>
</html>
