<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <link rel="stylesheet"  href="/style-register.css">
</head>
<body>
<div class="register-container">
    <h2>User Registration</h2>

    <form action="#" th:action="@{/register}" th:object="${theUser}" method="post" class="register-form">
        <label for="username">User name:</label>
        <input type="text" id="username" name="username" th:field="*{username}" autocomplete="off"/>
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span><br/>
        <br/>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:field="*{password}" />
        <br/>
        <label for="password">Confirm Password:</label>
        <input type="password" id="password_confirm" name="password" th:field="*{confirmPassword}" />
        <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span><br/>
        <br/>

        <button type="submit">Register</button>
    </form>
</div>

</body>
</html>